.DS_Store
Thumbs.db
logs
.logs
*.log
.*.log
npm-debug.log*
.pnpm-debug.log*
.pnpm-error.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.pem
*.crt
*.key
*.p12
*.code-workspace
*.workspace
*.*-workspace
.npm
.yarn
*.pnp.js*
.cache
.pnpm
.pnpm-state
.pnpm-store
.data-store
.docker
.eslintcache
.rpt2_cache/
.rts2_cache_*/
.eslintcache/**/*
.rpt2_cache/**/*
.rts2_cache_*/**/*
.jekyll-cache
.svelte-kit-cache
.lock-wscript
build/Release
node_modules
jspm_packages
bower_components
**/node_modules/**
**/jspm_packages/**
**/bower_components/**
*.tgz
*.tar.*
.yarn-integrity
.svelte-kit
.sveltekit
.svelte
.sveltepress
.svelte-press
.vercel
.vercel_build_output
.next
_next
.nuxt
.vuepress/dist
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
test/output
test/.output
test/.results
.grunt
.gulp
typings/
*.tsbuildinfo
.ts-node
.tsnode
.ts_node
.node_repl_history
.tsnode_repl_history
.ts_node_repl_history
.python_history
.history
.history/
.localhistory
.bash_history
.bash_sessions
.zsh_history
.ssh/
.ssh-sessions/
.rediscli_history
.react-native-cli
.rest-client
.theia
.fusebox/
.dynamodb/
.serverless/
.amplify/
.aws/
.cloudflare
.wrangler
.cfw
wrangler.toml
wrangler.*.toml
!wrangler.sample.toml
!wrangler.example.toml
!wrangler.demo.toml
.tern-port
.gnupg
.gnupg-*/
.gnupg*/
.gnupg.*
.IdentityService/
.env
.env.local
.env.*
.env.*.local
!.env.demo*
!.env.sample*
!.env.example*
.ngrok/
.ngrok2/
.node-gyp/
.now/
.railway/
.electron/
.expo/
.gem/
.generator/
.ghidra/
.gittar/
.hotel/
.hyper.js
.jssc/
.mdbcli/
.mono/
.ms_open_jdk_config
.netrc
.platformio
.terraform.d/
.degit/
.config/
.deno
.dotfiles/
.dotfiles/**/*
.pylint.d/
.python_history
.pyvenv/
.venv/
.virtualenv/
.z
.zfunc/
.zsh_history
.vscode-disabled/
.vscode
.local
.local/**/*
.old
.private
.hidden
.ignore
*.swp
*.swap
.stmcube
.stmcufinder

dist
dist/**/*
dist/*
