scripts
scripts/**/*
dist
dist/**/*
build
build/**/*
test
test/**/*
__test__
__test__/**/*
.vercel
.vercel/**/*
.vercel_build_output
.vercel_build_output/**/*
.next
.svelte-kit
.svelte
.pnpm
.cache
.npm
.yarn
.yarn-integrity
.old
.private
.git
node_modules
**/node_modules/**
tsconfig.json
.pnpm-debug.log
.gitpod.yml
.gitlab-ci.yml
.gitlab-ci.yaml
*.log
*.swp
*.swap
.*.log
.*.swp
.*.swap
pnpm-lock.yaml
package-lock.json
yarn.lock
npm-shrinkwrap.json
shrinkwrap.json
*.lock
*.workspace
*.*-workspace
